
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********
Parallax 
*******/

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to right, #00014a, #281f6f) /* erstellt einen linear gradient verlauf von links nach rechts */

}
.layer {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: right;
    background-size: cover;
}

.layer:nth-child(1) {
    background-image: url(img/1.png);
}
.layer:nth-child(2) {
    background-image: url(img/2.png);
}
.layer:nth-child(3) {
    background-image: url(img/3.png);
}
.layer:nth-child(4) {
    background-image: url(img/4.png);
}
.layer:nth-child(5) {
    background-image: url(img/5.png);
}
.layer:nth-child(6) {
    background-image: url(img/6.png);
}
.layer:nth-child(7) {
    background-image: url(img/7.png);
}

/*******
Call to Action Size 
********/

.left-container {
    
    border: 2px solid red;
    bottom: 700px;
    z-index: 100;
}
.headline {
    position: absolute;
    border: 2px solid red;
    z-index: 100;
    color: white;
    padding: 2em;
    width: 20em;
    margin-top: 10em;
    margin-left: 10em;
    
}
.headline h1{
    font-family: 'Roboto', sans-serif;
}
.text {
    position: absolute;
    border: 2px solid red;
    z-index: 100;
    box-sizing: border-box;
    color: white;
    width: 20em;
    margin-top: 20em;
    margin-left: 10em;
}
.button {
    position: absolute;
    border: 2px solid red;
    z-index: 100;
    margin-top: 45em;
    margin-left: 10em;
}

